* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

#logoTitlePage {
    margin-top: 5%;
}

#logoImage {
    position: relative;
    margin: auto;
    transform: rotate(-15deg);
    height:auto;
    width: 30vmin;
}
#food{
    z-index: -1 !important;
}

#nameImage{
    width: 70vmin;
    height: auto;
}

.formSection {
    width: 50%;
    margin: auto;
    position: relative;
}

#loadingText {
    font-size: 1.6em;
    font-family: 'Courier New', Courier, monospace;
}

.foodPage{
    display: none;
}

.disabledTab{
  background-color: lightgray;
  color: #999;
}

.show{
    display:block !important;
}

.hide{
    display:none;
}

.marker-list li {
  cursor: pointer;
}

.marker-list li:hover{
  cursor: pointer;
  color:yellowgreen;
}
  
  table{
      background-color: green;
      width: 50px;
  }
  
  #right-panel {
     font-family: 'Roboto','sans-serif';
     line-height: 30px;
     padding-left: 10px;
  }
  
  #right-panel select, #right-panel input {
     font-size: 15px;
  }
  
  #right-panel select {
     width: 100%;
  }
  
  #right-panel i {
     font-size: 12px;
  }
  
  #right-panel {
     float: right;
     width: 34%;
     height: 100%;
  }
  
  .header{
    position: relative;
    height:9vmin;
  }
  
  #foodName {
    font-size: 2.5em
  }
  
  #logo {
    display: inline-block;
    width: auto;
    position: absolute;
    height:100%;
    top:-3%;
  }
  
  #logo:hover{
    cursor: pointer;
  }
  
  #userFoodSubmission{
    position: absolute;
    right: 17%;
    top: 50%;
    transform: translateY(-50%);
    font-size:2rem;
  }
  
  #nameTitle{
      display: inline;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: rgb(5, 129, 5);
      font-size: 2rem;
      font-weight: bold;
      left:10%;
      text-shadow: 1px 1px black;
  }
  
  .foodName {
    font-size: 3em;
  }
  
  #mapAndPic {
    width: 100%;
    margin-top: 1%;
  }
  
  
  #pic img{
    width: 60%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
  }

  #question{
    position: relative;
    left:10%;
    margin:2%;
  }
  
  .nutritionTitles {
    display: inline-block;
    width: 70%
  }
  
  .nutritionTitles {
    display: inline-block;
    width: 100%;
  }
  .modalContainer{
    display: none;
    height:20%;
    width:61%;
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:white;
    border: 1px solid black;
    border-radius: 1%;
    }

    .modalHeader{
      font-size: 150%;
    }

  #map{
    height: 80vh;
    display: none;
  }
  
  #findMore {
    display: inline-block;
    background-color: rgb(13, 179, 13);
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px #999;
  }

  .favoriteButtonContainer{
    position: relative;
  }
  .loveIt, .removeFav{
    border-radius: 10px;
    position: absolute;
  }
  
  #findMore:hover {
    background-color: rgb(62, 197, 29);
  }
  
  #findMore:active, #reset:active, #goThere:active {
    box-shadow: 0 5px #666;
    transform: translateY(3px);
  }
  
  #reset {
    background-color: red;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px #999;
  }
  
  #goThere {
    background-color: green;
    border-radius: 10px;
    box-shadow: 0 3px #999;
  }
  
  #goThere:hover {
    background-color: rgb(1, 102, 1);
  }
  
  #reset:hover {
    background-color: rgb(190, 28, 16);
  }
  
  #findMore:hover {
    background-color: darkgreen;
  }
  
  .nutritionTitles .right-align {
    float: right;
  }
  
  .nutrition > div {
    border: 2px solid black;
  }
  
  .nutrition > div:nth-child(1) {
    font-weight: bold;
  }
  
  .nutritionTitles > div {
    border: 1px solid black;
  }
  
  .yelp {
    width: 90%;
  }
  
  
  #map {
    height: 50vh;
  }
  
  .yelpImageContainer{
    max-width: 100%;
    max-height: 100%;
    font-size: 0;
  }
  
  #yelpImage {
    height:auto;
    width: 100%;
    font-size:0;
  }
  
  .yelp > div {
    border: 2px solid black;
    margin-top: 10%;
  }
  
  .yelpTitle {
    font-weight: bold;
    border: 1.2px solid black;
    position: relative;
  }
  .yelpInfo{
    left:33%;
  }
  
  .yelpTitle, .yelpInfo {
    padding: 1%;
    display:none;
    font-size:1em;
  }
  
  .modal {
    top: 10%;
    z-index: 1;
  }
  
  .adp table {
    width: 100%;
  }
  
  .adp-substep{
    color: white;
  }
  
 
  .nutrition,#restaurantInfo,#locations{
    display: none;
    margin-top:5%;
    padding: 0% 2% 2%;
  }

  .tabsBar{
    padding:0 !important;
    border:1px solid black;
  }
  .tabs{
    border-bottom: 1px solid black;
  }
  #nutritionTab, #locationsTab {
    border-right: 1px solid black;
  }
  
  .okBtn{
    position: absolute;
    top:2%;
    right: 2%;
  }

  .show{
    display:block !important;
  }

  .selected{
    background-color: #ff9800;
    color: black;
    font-weight: 400;
  }
  
  @media only screen and (max-width: 600px) {
  .mapAndPicContainer{
    width: 80%;
    display: block;
  }
  
  #pic img{
    position: relative;
    left: 50%;
    transform:translateX(-50%);
  }
  
  #question{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:107%;
  }

  #findMore{
    left:3%;
    margin:1%
  }

  #reset{
    left:0%;
    margin: 1%;
  }

  .yelpTitle, .yelpInfo {
    position: relative;
    left:0%;
    top:0%;
  }
  
  .tabsBar{
    margin-top:2%;
    padding:0;
    border:1px solid black;
  }
  }